html, body {
    margin: 0;
    max-height: 960px;
    max-width: 960px;
    overflow-x: hidden;
}

container {
    display: flex;
    flex-wrap: wrap;
    min-width: 960px;
    min-height: 960px;
}

div {
    border: 1px solid #3882F6;
}


