html, body {
    margin: 0;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

div {
    border: 1px solid #3882F6;
    width: 120px;
    height: 120px;
    padding: 0px;
    border-radius: 0px;
}

container {
    display: flex;
    flex-direction: row;
}

.row {
 flex: 1;
 border: 0px;
 width: 0px;
 height: 0px;
 padding:0px;
 border-radius: 0px;
}

.div-grid {

}